

@{
}

@model IdentityUser

<h1>Confirm deletion</h1>
<p>Are you sure you want to delete @Model.UserName?</p>
<form method="post" asp-action="Delete">
    <button class="btn btn-warning" type="submit">Yes, delete @Model.UserName</button>
    <a asp-action="Users" class="btn btn-light">No, cancel</a>
    <input type="hidden" asp-for="Id"/>
</form>
