@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>
<p>Will be used to add and delete accounts</p>

@using Microsoft.AspNetCore.Identity
@model List<UserViewModel>

<table class="table table-bordered table-striped table-hover table-responsive-lg">
    <thead class="fw-bold">
    <tr>
        <td>Username</td>
        <td>Email</td>
        <td>Phone Number</td>
        <td>Role(s)</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    @foreach (UserViewModel u in Model)
    {
        <partial name="UserSummary" model="u"/>
    }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="UserForm">Add new user</a>
  