@{
    
}
@model List<UserViewModel>

<h1 class="text-center m-3">@ViewData["Title"]</h1>


<div class="row ms-3 me-3">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-responsive-lg p-3">
                <thead class="fw-bold">
                <tr>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Phone Number</td>
                    <td>Role(s)</td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                @foreach (UserViewModel u in Model)
                {
                    <partial name="UserSummary" model="u"/>
                }
                </tbody>
            </table>
    </div>
    
</div>

<div class="text-end me-4">
        <a class="btn btn-primary" asp-action="UserForm">Add new user</a>
</div>

  