@{
}

@model Burialmain

<div class="row d-flex flex-column justify-content-center align-items-center p-3">
    <div class="col-10">
        <div class="card">
            <div class="card-header">@Model.Id</div>
            <div class="card-body">
              <form method="post" class="m-3 row">
                <input type="hidden" asp-for="Id"/>
                <h4>Attributes</h4>
                <div class="col-md-4">
                  <label class="form-label">Sex</label>
                  <select asp-for="Sex" class="form-select">
                    <option selected>Choose...</option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                    <option value="">Unknown</option>
                  </select>
                </div>
                
                <div class="col-md-4">
                  <label class="form-label">Age at Death: Specific</label>
                  <select asp-for="Ageatdeath" class="form-select">
                    <option value="" selected>Choose...</option>
                    <option value="A">Adult - years 15+</option>
                    <option value="C">Child - years 3-15</option>
                    <option value="I">Infant - years 1-3</option>
                    <option value="N">Newborn - year 0-1</option>
                    <option value="U">Unknown</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label class="form-label">Age at Death: General</label>
                  <br/>
                  <div class="form-check-inline form-check">
                    <input class="form-check-input" type="radio" asp-for="Adultsubadult" value="A">
                    <label class="form-check-label">
                      Adult
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Adultsubadult" value="C">
                    <label class="form-check-label">
                      Child
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="form-label">Preservation</label>
                  <input type="text" asp-for="Preservation" class="form-control"/>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Wrapping</label>
                  <select asp-for="Wrapping" class="form-select">
                    <option selected value="">Choose...</option>
                    <option value="W">Full or nearly full wrapping remains</option>
                    <option value="H">Partial wrapping remain</option>
                    <option value="B">Bones and/or only partial remnants of wrapping remains</option>
                    <option value="U">Unknown</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label class="form-label">Face Bundles</label>
                  <input type="text" asp-for="Facebundles" class="form-control"/>
                </div>
                <h4>Location and position</h4>
                <div class="col-md-4">
                  <label class="form-label">Area</label>
                  <select asp-for="Area" class="form-select">
                    <option selected>Choose...</option>
                    <option>NW</option>
                    <option>SW</option>
                    <option>NE</option>
                    <option>SE</option>
                  </select>
                </div>
                
                <div class="col-md-3">
                  <label class="form-label">North/South Square</label>
                  <input type="number" step="10" class="form-control" asp-for="Squarenorthsouth" placeholder="">
                </div>
                <div class="col-md-3">
                  <label class="form-label">East/West Square</label>
                  <input type="number" step="10" class="form-control" asp-for="Squareeastwest" placeholder="">
                </div>
                <div class="col-sm-2">
                  <label class="form-label">Burial Number</label>
                  <input type="number" step="1" class="form-control" asp-for="Burialnumber" placeholder="">
                </div>
                <div class="col-sm-2">
                  <label class="form-label">Cluster Number</label>
                  <input type="number" step="1" class="form-control" asp-for="Clusternumber" placeholder="">
                </div>
                <div class="col-md-3">
                  <label class="form-label">Depth</label>
                  <input type="number" class="form-control" asp-for="Depth"/>
                </div>
                <div class="col-md-3">
                  <label class="form-label">Length</label>
                  <input type="number" class="form-control" asp-for="Length" placeholder="">
                </div>
                <h4>Excavation Details</h4>
                <div class="col-md-3">
                  <label class="form-label">Field Book Page</label>
                  <input type="number" step="1" class="form-control" asp-for="Length" placeholder="">
                </div>
                <div class="col-md-3">
                  <label class="form-label">Field Book Excavation Year</label>
                  <input type="text" class="form-control" asp-for="Fieldbookexcavationyear" placeholder="">
                </div>
                <div class="col-md-2">
                  <label class="form-label">Data Expert Initials</label>
                  <input type="text" asp-for="Dataexpertinitials" class="form-control"/>
                </div>
                <div class="col-md-4">
                  <label class="form-label">Goods</label>
                  <br/>
                  <div class="form-check-inline form-check">
                    <input class="form-check-input" type="radio" asp-for="Goods" value="Y">
                    <label class="form-check-label">
                      Yes
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Goods" value="">
                    <label class="form-check-label">
                      No
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="form-label">Samples Collected</label>
                  <select asp-for="Samplescollected" class="form-select">
                    <option selected>Choose...</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                    <option value="unknown">Unknown</option>
                  </select>
                </div>
                <div class="col-12">
                  <label class="form-label">Notes</label>
                  <textarea class="form-control" asp-for="Text"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <a class="btn btn-light" asp-controller="Home" asp-action="RecordView" asp-route-id="@Model.Id">Cancel</a>
                </div>
                <div asp-validation-summary="All"></div>
              </form>
            </div>
        </div>
    </div>
</div>