@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fag el-Gamous!</h1>
    <p>Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological investigation (primarily by BYU researchers) for over 25 years.</p>
    <br />

    <h4>The Fag el-Gamous Cemetary</h4>
    <img src="~/img/fag_el-gamous.jpg" width="500" />
    <br />
    <p>
        This cemetery was in use during the Graeco-Roman era of Egyptian history. In the early 1900’s some Mummy Portraits were found there by Bernard Grenfell and Arthur Hunt. The cemetery is very large and densely populated with burials. Some lie in the mudstone escarpments, where tombs were carved into the rocks. These are typically somewhat wealthier burials, including a golden masked mummy who was the daughter of a priest in the Ptolemaic period. Most of the burials lie loose in the sand. These burials range from being fully skeletonized to being extremely well preserved. They range from just after 300 BC to about 500 AD. During that time period nearly all of the inhabitants of the Fayoum converted to Christianity. There is some evidence for this in the burials. We are doing vigorous research attempting to determine if there are more detectable archaeological markers pointing to Christian burial practices.
    </p>
    <p>
        This large cemetery population allows for significant statistical studies of burial practices. It has afforded a marvelous opportunity for demographic studies. Our textile analyses are providing significant new insights into changing burial patterns and the multiple and varied uses to which textiles were put. Because all of our textiles derive from a known setting, some of our most important work involves identifying and describing original in situ contexts that can be generalized to the many museum collections of uncertain provenance. We have also been able to study weaving practices, the use of tunics in various time periods, the use of sprang hairnets in various time periods, and a number of other textile studies. Analysis of amulets, figurines, pottery, jewelry, and other burial goods has also been possible. The site is among the most promising for telling us statistically significant information about burial practices in Graeco-Roman Egypt for the common person.
    </p>
    <br />

    <h4> The Seila Pyramid</h4>
    <img src="~/img/seila_pyramid.jpg" width="500" />
    <br />
    <p>
        Our discovery of a stela with two of the names of Snefru, first king of the Fourth Dynasty, revealed who had built the pyramid. It lies 10 km due west of the Meidum Pyramid, and in terms of its elevation and the ratio of its construction, there are some clear links between the two pyramids. The Seila Pyramid has evidence for ritual activity on both the north and the eastern sides. It has a causeway on the eastern side, but no valley temple. It represents an important witness of Snefru’s innovations in regard to pyramid complexes, and play an important role in the development of pyramids. Besides the stelae, other important artifacts include an altar, the remains of a small statue, a foundation deposit jar, a model oar, and the remains of several limestone tables or altars.
    </p>

    <p>Link to view burial information <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">https://egypt.byu.edu/</a></p>
</div>
