@{
    ViewData["Title"] = "Home Page";
}

@model ArtifactViewModel
 
<section class="bg-light" style="height: 100vh;">
    <div class="row d-flex flex-direction-column justify-content-center align-center-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>    
    </div>
</section>

<section class="bg-dark" style="height: 100vh;">
    
</section>