@{
    ViewData["Title"] = "Record View";
}



<section class="d-flex justify-content-center align-items-center" style="height:100vh;">
    <div class="record-view-container">
        <div class="record-description bg-info">
            some text for the description
        </div>
        <div class="record-facts bg-secondary">
            some text for the facts
        </div>
    </div>
</section>