@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@model TextilesViewModel

@{
    ViewData["Title"] = "Burial Summaries";
    var currentUser = UserManager.GetUserAsync(User).Result;
}

<section style="">
        <div class="d-flex justify-content-center align-items center w-auto cairo-font">
            
        </div>
        <div class="d-flex mt-5 mb-3 justify-content-center align-items center w-auto cairo-font">
            <div class="accordion accordion-flush w-75 " id="accordionFlushExample">
                <div class="accordion-item ">
                  <h2 class="accordion-header bg-primary text-light display-6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Current Textiles - click to Filter
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <form class="row g-3" method="post" asp-action="TextileRecordsList" asp-controller="Home">
                          
                          @* second row *@
                          <div class="col-md-3" id="Hair-color">
                            <label for="Haircolor" class="form-label">Hair Color</label>
                            <select name="Haircolor" id="Haircolor" class="form-select">
                              <option value="" selected>Choose...</option>
                              <option value="B">Brown/Dark Brown/Lt Brown</option>
                              <option value="K">Black</option>
                              <option value="A">Brown-Red</option>
                              <option value="R">Red/Red-Bl</option>
                              <option value="D">Blond</option>
                              <option value="U">Unknown</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label for="indicatorHaircolor" class="form-label">Is... </label>
                            <select name="indicatorHaircolor" id="indicatorHaircolor" class="form-select">
                              <option value="==">Equal To</option>
                              <option value="!=">Is not Equal To</option>
                            </select>
                          </div>
                          <div class="col-md-3" id="inputWrapping">
                            <label for="Wrapping" class="form-label">Wrapping</label>
                            <select name="Wrapping" id="Wrapping" class="form-select">
                              <option value="" selected>Choose...</option>
                              <option value="W">Full or nearly full wrapping remains</option>
                              <option value="H">Partial wrapping remain</option>
                              <option value="B">Bones and/or only partial remnants of wrapping remains</option>
                              <option value="U">Unknown</option>
                            </select>
                          </div>
                          <div class="col-md-3">
                            <label for="indicatorWrapping" class="form-label">Is... </label>
                            <select name="indicatorWrapping" id="indicatorWrapping" class="form-select">
                              <option value="==">Equal To</option>
                              <option value="!=">Is not Equal To</option>
                            </select>
                          </div>

                          @* fourth row *@
                          <div class="col-md-3" id="Square-eastwest">
                            <label for="Squareeastwest" class="form-label">Square East West</label>
                            <input name="Squareeastwest" type="number" class="form-control" id="Squareeastwest" placeholder="Input a Horizontal space" min="0" max="70" step="10" onchange="roundToNearestTen()" >
                          </div>
                          <div class="col-md-3">
                            <label for="indicatorSquareeastwest" class="form-label">Is... </label>
                            <select name="indicatorSquareeastwest" id="indicatorSquareeastwest" class="form-select">
                              <option value="==">Equal To</option>
                              <option value="!=">Is not Equal To</option>
                            </select>
                          </div>
                          <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="display-7"> East or West? </div>
                          </div>
                          <div class="col-md-3" id="East-west">
                            <label for="Eastwest" class="form-label">Horizontal Cardinal Direction</label>
                            <select name="Eastwest" id="Eastwest" class="form-select" >
                              <option value="" selected>Choose...</option>
                              <option value="E">East</option>
                              <option value="W">West</option>
                            </select>
                          </div>
                          
                          <div class="col-12">
                            <button type="submit" class="btn btn-primary">Filter</button>
                          </div>
                        </form>
                      </div>
                  </div>
                </div>
              </div>  
          <div class="col-1">
            @if (SignInManager.IsSignedIn(User))
            {
              if (await UserManager.IsInRoleAsync(currentUser, "USER") || await UserManager.IsInRoleAsync(currentUser, "ADMIN"))
              {
                <a class=" mt-2 btn btn-primary" asp-controller="Home" asp-action="CreateTextile">Add new</a>
              }
              
            }
          </div>
        </div>
        <div class="container col-10">
            @foreach (var tx in Model.Textiles)
            {
                <partial name="TextileSummary" model="tx"/>
            }
        </div>

        <div page-burials="@Model.PageInfo" page-action="Index" page-class="btn" 
        page-class-normal="btn-outline-dark" page-class-selected="btn-info" page-classes-enabled="true"
        class="btn-group pull-right m-1"></div>
    </section>