@{
    ViewData["Title"] = "Unsupervised Analysis";
}
<h1>@ViewData["Title"]</h1>

<section style="height:70vh;">
    <div class="d-flex justify-content-center align-items-center">
        <div class="row m-5">
            <img src="" alt="The Sunsupervised Model">
        </div>
        <div class="row">
            Some description about the Unsupervised Model
        </div>
    </div>    
</section>