.record-view-container {  
  height: 80%;
  display: grid;
  grid-template-columns: 1.5fr 2.25fr;
  grid-template-rows: 1fr;
  gap: 0px 1.5%;
  grid-auto-flow: row;
  align-content: center;
  align-items: center;
  grid-template-areas:
    "record-description record-facts";
  width: 90%;
  font-family: 'Cairo', sans-serif;
}

.record-description { 
  height: inherit;
  width: 100%;
  grid-area: record-description; }

.record-facts {
  height: inherit;
  width: 100%;
  grid-area: record-facts; }

.nav-border-bottom {
  /*border-bottom: 1px solid #F4F5F6;*/
  box-shadow: 0 2px 4px rgba(244, 245, 246, 0.4);
}

.index-background {
  background-image: url("../img/glyph.png");
  width: 100%;
  background-size: cover;
}

.index-container {
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
      ". . . . ."
      ". intro-message . other-welcome-message ."
      ". . . . .";
}

.intro-message {
  justify-self: center;
  align-self: center;
  font-size: 80%;
  grid-area: intro-message;
}

.other-welcome-message {
  justify-self: center;
  align-self: center;
  grid-area: other-welcome-message;
}

.index-left-container {
  height: inherit;
  display: grid;
  grid-template-columns: 0.35fr 1.75fr 1.25fr 0.35fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 2%;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . . ."
    ". index-left-image index-left-card ."
    ". . . .";
  overflow: hidden;
}

.index-left-image { grid-area: index-left-image; }

.index-left-card { 
  grid-area: index-left-card;
  align-self: center;
  text-align: end;
  height:100%;
  width: 100%;
  overflow: scroll;
}

.index-right-container {
  height: inherit;
  display: grid;
  grid-template-columns: 0.35fr 1.25fr 1.75fr 0.35fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 2%;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . . ."
    ". index-right-card index-right-image ."
    ". . . .";
  overflow: hidden;
}

.index-right-image { grid-area: index-right-image; }

.index-right-card { 
  grid-area: index-right-card;
  align-self: center;
  text-align: start;
  height:100%;
  width: 100%;
  overflow: scroll;
}

.cairo-font {
  font-family: Cairo, sans-serif;
}

.index-font{
  font-family: Cairo, sans-serif;
  line-height: 4px;
}

.wb-section-photo {
  border: 12px solid rgba(209, 204, 189, 0.5);
  border-radius: 25px;
}

.record-view-container {  
  
  height: inherit;
  display: grid;
  grid-template-columns: .75fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5% 1.5%;
  grid-auto-flow: column dense;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "record-photo record-highlight"
    "record-details record-details";
}
.w-90 {
  width: 90%;
}
.record-photo { grid-area: record-photo; }

.record-highlight { grid-area: record-highlight; }

.record-details { grid-area: record-details; }

.display-7 {
  font-size: calc(0.5rem + 0.75vw);
  font-weight: 300;
  line-height: 1.05;
}

.display-8 {
  font-size: calc(0.3rem + 0.45vw);
  font-weight: 300;
  line-height: 1.05;
}

.record-indent {
  text-indent: 5%;
}

/* Modal styles */
.sup-analysis-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.sup-analysis-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Close button */
.sup-analysis-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.sup-analysis-close:hover,
.sup-analysis-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
