.record-view-container {  
  height: 80%;
  display: grid;
  grid-template-columns: 1.5fr 2.25fr;
  grid-template-rows: 1fr;
  gap: 0px 1.5%;
  grid-auto-flow: row;
  align-content: center;
  align-items: center;
  grid-template-areas:
    "record-description record-facts";
  width: 90%;
  font-family: 'Cairo', sans-serif;
}

.record-description { 
  height: inherit;
  width: 100%;
  grid-area: record-description; }

.record-facts {
  height: inherit;
  width: 100%;
  grid-area: record-facts; }
